/*Custom properties*/
:root {
  --header-height: 3rem;
  --clr-headerbg: #e0f2cb;
  --clr-bg: #f1f1f1;
  --clr-font: #343434;

  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  --clr-primary-name1-300: #a3a0a0;
  --clr-primary-name2-500: #6f9489;

  --clr-neutral-name1-300: #e4e9e8;
  --clr-neutral-name2-500: #7fc6b1;

  /*========== Font and typography ==========*/

  --ff-h1: "Titillium Web", sans-serif;
  --h1-font-size: 1.5625rem;
  --h1-font-weight: 700;

  --ff-h2: "Titillium Web", sans-serif;
  --h2-font-size: 1.375rem;
  --h2-font-weight-bold: 700;
  --h2-font-weight-semibold: 600;
  --h2-font-size-small: 1.25rem;

  --ff-h3: "calibri", sans-serif;
  --h3-font-size: 1.25rem;
  --h3-font-weight: 400;

  --ff-p-dialog: "calibri", sans-serif;
  --font-size-p: 1.125rem;

  --body-font: "calibri", sans-serif;

  --p-font-weight: 400;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 1.5625rem;
    --normal-font-size: 1rem;
  }
}

/* sets border box to box sizing hole document*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  line-height: 1;
  margin-bottom: 1em;
}

/* margin-bottom: 1em = equal to the actual font size */

p {
  margin-bottom: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%; /*responsive images */
  height: auto;
}

.bg-head {
  background-color: var(--clr-headerbg);
  height: 100px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.header-space {
  margin-top: 80px;
  margin-bottom: 60px;
}

.space-head {
  margin-top: 2;
}

.mainsection {
  padding-bottom: 1rem 0;
}

.title {
  font-family: var(--ff-h2);
  font-weight: var(--h2-font-weight-bold);
  color: var(--clr-font);
  padding-top: 20px;
  font-size: 25px;
}

.dialogp {
  font-family: var(--ff-h3);
  font-weight: var(--p-font-weight);
  color: var(--clr-font);
  margin-top: -15px;
  font-size: 20px;
}

.container {
  margin-inline: auto;
  width: min(85%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

/*em is more consistent by zooming in and out*/

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  /*all direct children of the .split will have equal columns */

  .split > * {
    flex-basis: 100%; /* setting ideal width */
  }

  /*Json sibling selector = any element that has a sibling before it adds margin */

  .split > * + * {
    margin-left: 2em;
  }
}

.bg-main {
  background-color: var(--clr-bg);
}

.bg-light {
  background-color: var(--clr-primary-name1-300);
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
}

.nav__logo {
  width: 40px;
}

@media screen and (max-width: 1600px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    transition: 0.4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.5rem;
}

.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.3s;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */

@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }

  .nav__logo {
    width: 30px;
  }

  .nav__img {
    width: 25px;
  }
}

@media screen and (max-width: 640px) {
  .nav__name {
    display: none;
  }

  .nav__logo {
    width: 30px;
  }

  .nav__img {
    width: 25px;
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (min-width: 1400px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 0.5rem); /* 4.5rem */
  }

  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* BUTTONS */

.btnhome {
  display: inline-flex;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  padding: 0;
  margin-bottom: 2.0625rem;
  background: white;
  border: none;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  font-family: var(--ff-h2);
  font-size: var(--h2-font-size-small);
  font-weight: var(--h2-font-weight-semibold);
  cursor: pointer;
}

.btnhome:hover {
  background-color: grey;
}

.btnhome:active {
  background-color: rgb(88, 87, 87);
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
}

.button__text1 {
  display: inline-flex;
  align-items: center;
  padding-right: 50%;
  height: 100%;
}

/* Plantebibliotek med JS */
#myInput {
  display: flex;
  background-image: url("/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 8px 0;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  text-align: center;
  margin-left: 34px;
  margin-right: 34px;
  border-radius: 10px;
  margin-top: 60px;
}

#myTable {
  border: none;
  width: 80%;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 34px;
  margin-right: 34px;
}

#myTable th,
#myTable td {
  text-align: left;
  height: 104px;
  margin-top: 100px;
  border-radius: 10px;
}

#myTable tr {
  background-color: #ffffff;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
}

.headersection {
  margin-top: 80px;
  margin-bottom: 100px;
}

.headerdiv {
  background-color: #e0f2cb;
  height: 100px;
}

.headeroverskrift {
  padding-top: 20px;
  text-align: left;
  padding-left: 34px;
  font-size: 25px;
}

.header2overskrift {
  margin-top: -15px;
  padding-left: 34px;
  font-size: 20px;
}

.whitespace {
  height: 25px;
}

.tdbilleder {
  height: 95px;
  margin-top: -14px;
  border-radius: 10px;
}

.tdtext {
  text-align: center;
  margin-top: -60px;
  font-size: 20px;
}

.tilbageknap {
  background-color: #ffffff;
  padding: 12px 20px;
  margin-left: 34px;
  border-radius: 10px;
  font-size: 20px;
}

/* #result {
  Add a transition effect to the result div
  transition: opacity 1s;
}
 */
#menu {
  width: 144px;
  height: 51px;
  font-size: 22px;
  background-color: white;
  border: none;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  border-radius: 10px;
  padding-left: 25px;
  background: url(images/keyboard_arrow_down_black_24dp.svg);
  background-repeat: no-repeat;
  -webkit-appearance: none;
  background-position-x: 95%;
  background-position-y: 15px;
  cursor: pointer;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.dd1 {
  margin-right: 10px;
}

.dd2 {
  margin-left: 10px;
}

.month-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.month-selector__button1 {
  background: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  width: 50px;
  height: 26px;
  border: none;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  border-radius: 10px;
  margin-right: 2vw;
}

.month-selector__button2 {
  background: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  width: 50px;
  height: 26px;
  border: none;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  border-radius: 10px;
  margin-left: 2vw;
}

.month-selector__current-month {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Chart */

.chartMenu {
  width: 100vw;
  height: 80px;
}

.chartMenu p {
  padding: 10px;
  font-size: 20px;
}

.chartBox {
  align-content: center;
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgb(37, 37, 37);
  background: white;
  margin-top: 5%;
}

.btnchart1 {
  margin-bottom: 15%;
}

@media only screen and (max-width: 1200px) {
  .chartBox {
    width: 80%;
    height: 550px;
    padding: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .chartBox {
    width: 80%;
    height: 400px;
    padding: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .chartBox {
    width: 80%;
    height: 400px;
    padding: 10px;
  }
  .chartMenu p {
    padding: 10px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .chartBox {
    width: 80%;
    height: 300px;
    padding: 10px;
  }
  .btnchart1 {
    margin-bottom: 25%;
  }
}

@media only screen and (max-width: 300px) {
  .chartBox {
    width: 80%;
    height: 200px;
    padding: 10px;
  }
  .btnchart1 {
    margin-bottom: 25%;
  }
}

/* Parameter oversigt css start */

.po_body {
  background-color: var(--clr-bg);
}

.po_headersection {
  margin-top: 80px;
  margin-bottom: 50px;
}

.po_headerdiv {
  background-color: #e0f2cb;
  height: 100px;
}

.po_headeroverskrift {
  padding-top: 20px;
  text-align: left;
  padding-left: 34px;
  font-size: 25px;
}

.po_header2overskrift {
  margin-top: -15px;
  padding-left: 34px;
  font-size: 16px;
}

.po_basil  {
    height: 104px;
    width: 90vw;
    background-color: white;
    border-radius: 10px;
    margin-left: 5vw;
  }

.po_overskrift {
  padding-top: 20px;
  font-size: 25px;
}

.slidecontainer {
  width: 90vw;
  margin-left: 5vw;
  padding-bottom: 140px;
}

#ph_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(to left, 
  red 0% 46%, green 46% 57%,red 57% 100%);
}

#temp_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(to left, 
  red 0% 34%, green 34% 59%,red 59% 100%);
}

#rh_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(to left, 
  red 0% 40%, green 40% 60%,red 60% 100%);
}

#co2_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(to left, 
  red 0% 50%, green 50% 80%,red 80% 100%);
}

#ec_slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0px 3px 10px 0.1px;
  border-radius: 10px;
  background-image: linear-gradient(to left, 
  red 0% 73%, green 73% 83%,red 83% 100%);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 35px;
  background: #FBFBFB;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 3px 6px 0.1px;
}

#ikon1, #ikon2, #ikon3, #ikon4, #ikon5 {
display: none;
margin-left: 110px;
margin-top: -37px;
position: absolute;
}

#txt1, #txt2, #txt3, #txt4, #txt5 {
margin-left: 5px;
}

/* Undersøg knap start */

.undersoeg_btn {
  float: right;
  margin-top: -42px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);

}

.undersoeg_txt  {
  float: right;
  margin-top: 6px;
  margin-right: 13px;
}

.soeg {
  float: left;
}

/* Parameter oversigt css slut */

/* Log ind side */

.logindsection {
  height: 350px;
  background-color: #DFF2C9;
  padding: 20px;
}

.logindbillede {
  height: 280px;
  width: 100%;
}

.logindbillede1 {
  height: 300px;
  width: 100%;
}

.logindknap {
  display: flex;
  background-color: #009439;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  font-family: var(--ff-h1);
  border-radius: 10px;
}

.logindlogo {
  position: absolute;
  margin-top: 10px;
  align-content: center;
}

.tilbagebtn {
  background-color: #ffffff;
  border-style: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 100px;
}

.space{
  padding-bottom: 25%;
}

